#currentPage
{
    position: absolute;
    width: 100px;
    height: 2px;
    margin-top:6.3%;
    margin-left: 72%;
    background-color: #E5C890;
}

main
{
    margin-top: 12vw;
}

.verplicht
{
    color: red;
}

#versturen
{
    background-color: #FFF2CC;
    border: 1px 1px 1px 1px #000000;
    padding: 10px 80px 10px 80px;
    margin-left: 8vw;;
}

#versturen:hover
{
    font-weight: bold;
}

td
{
    padding: 5px;
}

.links
{
    margin-left: 7vw;
}

.rechts
{
    position: fixed;
    margin-left: 1050px;
    margin-top: -29vw;
}

.images
{
    width: 64%;
    height: 64%;
}