#currentPage
{
    position: absolute;
    width: 80px;
    height: 2px;
    margin-top:5%;
    margin-left: 84%;
    background-color: #E5C890;
}

main
{
    margin-top: 12vw;
}

.verplicht
{
    color: red;
}

#versturen
{
    background-color: #FFF2CC;
    border: 1px 1px 1px 1px #000000;
    padding: 10px 80px 10px 80px;
    margin-left: 8vw;;
}

#versturen:hover
{
    font-weight: bold;
}

#Bericht
{
    resize: none;
}

td
{
    padding: 5px;
}

.links
{
    margin-left: 8vw;
}

.rechts
{
    position: fixed;
    margin-left: 1050px;
    margin-top: -31vw;
}

.images
{
    width: 67%;
    height: 67%;
}